<div id="footer"><!-- Starting Footer Section -->
    <div class="footer-left">
        <p><a href="{{ site.url }}">Home</a> | <a href="{{ '/source/' | prepend: site.url }}">Source</a> | <a href="{{ '/contact/' | prepend: site.url }}">Contact</a></p>
    </div>
    <div class="footer-right">
        <p>&copy; {{ site.time | date: "%Y" }} by <a href="https://mattrude.com">{{ site.owner_name }}</a></p>
    </div>
</div><!-- Closing Footer Section -->
</div><!-- Closing Menu Section (from header) -->
</body>
</html>
