    <div id="menu">
        <a href="{{ site.url }}">Home</a> |
        <a href="{{ site.url }}/about/">About</a> | 
        <a href="{{ site.url }}/contact/">Contact</a> | 
        <a href="{{ site.url }}/faq/">FAQ</a> | 
        <a href="{{ site.url }}/definitions/">Definitions</a> | 
        {% for post in site.posts limit: 1 %}
            <a href="{{ site.url }}/news/">News</a> |
        {% endfor %}
        <a href="{{ site.url }}/guides/">How-To</a> 
    </div>
    {% if page.url contains 'guides' %}
    <div id="menu-sub">
        <a href="{{ site.url }}/guides/"><strong>Guides:</strong></a>
    </div>
    {% endif %}
